<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Wake On LAN tool to manage and wake computers on your network.">
    <title>GPTWOL</title>
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='images/gptwol.png') }}"/>
    <link rel="icon" href="{{ url_for('static', filename='images/gptwol.png') }}" type="image/png"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/fontawesome/css/fontawesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/fontawesome/css/brands.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/fontawesome/css/solid.min.css') }}">
    <script src="{{ url_for('static', filename='assets/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  </head>

  <body>
    <nav class="navbar navbar-expand-md sticky-top" style="background-color: rgba(0, 0, 0, 0.05);">
      <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggler">
          <ul class="navbar-nav me-auto">
            <a class="navbar-brand d-none d-md-block" href="/">
              <img src="{{ url_for('static', filename='images/gptwol.png') }}" width="40" height="40" alt="Logo">
            </a>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item pe-3">
              <div class="align-items-center d-flex px-2 pt-2 btn rounded-pill border border-secondary" id="darkModeBtn">
                <i class="fa-solid fa-sun"></i>
                <div class="ms-2 form-check form-switch">
                  <input class="form-check-input" type="checkbox" id="darkModeSwitch" checked aria-label="Switch between light and dark mode" data-bs-toggle="tooltip" data-bs-placement="top" title="Switch between light and dark mode">
                </div>
                <i class="fa-solid fa-moon"></i>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div aria-live="polite" aria-atomic="true" class="position-relative">
      <div class="toast-container top-0 end-0 p-2">
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% for category, message in messages %}
        <div class="toast bg-{{ category }} border-0" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="true" data-bs-delay="3000">
          <div class="toast-header">
            <strong class="me-auto">{{ category|capitalize }}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast"></button>
          </div>
          <div class="toast-body">
            {{ message }}
          </div>
        </div>
        {% endfor %}
      {% endwith %}
      </div>
    </div>

    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6">
          {% if os.environ.get('ENABLE_LOGIN') == 'true' -%}
          <form method="POST">
            <div class="card mt-2">
              <div class="card-body">
                <div class="form-group">
                  <label for="username" class="form-label">Username</label>
                  <input type="text" name="username" placeholder="Username" class="form-control" required>
                </div>
                <div class="form-group">
                  <label for="password" class="form-label">Password</label>
                  <div class="input-group mb-3">
                    <input type="password" id="password" name="password" placeholder="Password" class="form-control" required>
                    <button type="button" class="btn btn-outline-secondary" id="togglePassword">
                      <i class="fa-solid fa-eye" id="eyeIcon"></i>
                    </button>
                  </div>
                </div>
              </div>
              <div class="card-footer text-end">
                <button type="submit" class="btn btn-success status-power">
                  <i class="fa-solid fa-sign-in"></i>
                  Login
                </button>
              </div>
            </div>
          </form>
          {% endif %}
          {% if os.environ.get('OIDC_ENABLED') == 'true' -%}
          <div class="text-center mt-3">
            <a href="{{ url_for('login_oidc') }}" class="btn btn-primary w-100 mb-3">
              <i class="fa-solid fa-right-to-bracket"></i>
              Login with SSO
            </a>
          </div>
          {% endif %}
        </div>
      </div>
    </div>

    <script src="{{ url_for('static', filename='js/toast.js') }}"></script>
    <script src="{{ url_for('static', filename='js/login.js') }}"></script>
    <script src="{{ url_for('static', filename='js/darkmode.js') }}"></script>
  </body>
</html>
