.status-indicator {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
  border: 2px solid #000;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.status-indicator.awake {
  background-color: #4CAF50;
}

.status-indicator.asleep {
  background-color: #ff0000;
}

#cron_request {
  min-width: 100px;
  width: 100px;
  max-width: 200px;
}

.search-input,
.search-button,
.delete-button,
.add-button,
.clear-button {
  padding: 8px;
  background-color: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #888;
}

.search-input {
  border: 1px solid #ccc;
  border-radius: 4px;
  flex: 1;
  font-size: 14px;
  margin-right: 4px;
}

.add-button:hover,
.search-button:hover {
  color: #6aa84f;
}

.delete-button:hover,
.clear-button:hover {
  color: #e44444;
}
