<style>
  .container {
    padding-top: 10px;
    padding-right: 50px;
    padding-left: 50px;
  }
  .card {
    margin-bottom: 20px;
  }
  .card-body {
    padding: 10px;
  }
  .card-footer {
    text-align: right;
    padding: 10px;
  }
  input[type=submit] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    cursor: pointer;
  }
  p.card-info-right {
    text-align: right;
  }
  .status-indicator {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    border: 2px solid #000;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  .status-indicator.awake {
    background-color: #4CAF50;
  }
  .status-indicator.asleep {
    background-color: #ff0000;
  }

  #cron_request {
    min-width: 100px;
    width: 100px;
    max-width: 200px;
  }

  .search-form {
    display: flex;
    align-items: center;
  }

  .search-input,
  .search-button,
  .delete-button,
  .add-button,
  .clear-button {
    padding: 8px;
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #888;
  }

  .search-input {
    border: 1px solid #ccc;
    border-radius: 4px;
    flex: 1;
    font-size: 14px;
  }

  .add-button:hover,
  .search-button:hover {
    color: #6aa84f;
  }

  .delete-button:hover,
  .clear-button:hover {
    color: #e44444;
  }

  .clear-button {
    margin-left: 4px;
  }
</style>
