<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Wake On LAN tool to manage and wake computers on your network.">
    <title>GPTWOL</title>
    <link rel="shortcut icon" href="/">
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='images/gptwol.png') }}"/>
    <link rel="icon" href="{{ url_for('static', filename='images/gptwol.png') }}" type="image/png"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/fontawesome/css/fontawesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/fontawesome/css/brands.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/fontawesome/css/solid.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='assets/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/updatestatus.js') }}"></script>
    <script>
      const arp_scan_url = "{{ url_for('arp_scan') }}";
      const check_status_url = "{{ url_for('check_status') }}";
      const add_wol_cron_url = "{{ url_for('add_wol_cron') }}"
      const add_sol_cron_url = "{{ url_for('add_sol_cron') }}"
      const delete_wol_cron_url = "{{ url_for('delete_wol_cron') }}"
      const delete_sol_cron_url = "{{ url_for('delete_sol_cron') }}"

      {% if os.environ.get('ENABLE_REFRESH') != 'false' -%}
        setInterval(() => {
          // Update the status of all computers
          for (let element of document.getElementsByClassName('status-indicator')) {
            const ip_address = element.getAttribute('data-ip-address');
            const test_type = element.getAttribute('data-test-type');
            // Find the corresponding button element
            const buttonElement = element.closest('.card').querySelector('.status-power');
            updateStatus(ip_address, test_type, element, buttonElement);
          }
        {% if os.environ.get('REFRESH_INTERVAL') -%}
        }, {{ os.environ.get('REFRESH_INTERVAL') | int * 1000 }});
        {% else -%}
        }, 30000);
        {% endif -%}
      {% endif -%}
    </script>
  </head>

  <body>
    <nav class="navbar navbar-expand-md sticky-top" style="background-color: rgba(0, 0, 0, 0.05);">
      <div class="container-lg">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggler">
          <ul class="navbar-nav me-auto">
            <a class="navbar-brand d-none d-md-block" href="/">
              <img src="{{ url_for('static', filename='images/gptwol.png') }}" width="40" height="40" alt="Logo">
            </a>
          </ul>
          <ul class="navbar-nav">
            {% if os.environ.get('ENABLE_ADD_DEL') != 'false' -%}
            <li class="nav-item pe-3">
              <a class="nav-link text-light rounded-pill bg-success px-2" aria-current="page" href="#" data-bs-toggle="modal" data-bs-target="#addComputer" aria-label="AddComputer">
                  <i class="fa-solid fa-circle-plus"></i>
                  <span>Add</span>
               </a>
            </li>
            {% endif -%}
            <li class="nav-item pe-3">
              <a class="nav-link text-light rounded-pill bg-secondary px-2" aria-current="page" href="#" data-bs-toggle="modal" data-bs-target="#aboutModal" aria-label="About">
                <i class="fa-solid fa-info-circle"></i>
                <span>About</span>
              </a>
            </li>
            {% if os.environ.get('ENABLE_LOGIN') == 'true' -%}
            <li class="nav-item pe-3">
              <a class="nav-link text-light rounded-pill bg-danger px-2" aria-current="page" href="/logout">
                <i class="fa-solid fa-sign-out"></i>
                <span>Logout</span>
              </a>
            </li>
            {% endif -%}            
            <li class="nav-item pe-3">
              <div class="align-items-center d-flex px-2 pt-2 btn rounded-pill border border-secondary" id="darkModeBtn">
                <i class="fa-solid fa-sun"></i>
                <div class="ms-2 form-check form-switch">
                  <input class="form-check-input" type="checkbox" id="darkModeSwitch" checked aria-label="Switch between light and dark mode" data-bs-toggle="tooltip" data-bs-placement="top" title="Switch between light and dark mode">
                </div>
                <i class="fa-solid fa-moon"></i>
              </div>
            </li>
          </ul>
        </div>
        <div class="search-container">
          <div class="btn-group">
            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa-solid fa-arrow-up-short-wide"></i>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <li><a class="dropdown-item" href="#" onclick="sortComputers('name')">Sort by Name</a></li>
              <li><a class="dropdown-item" href="#" onclick="sortComputers('ip')">Sort by IP</a></li>
              <li><a class="dropdown-item" href="#" onclick="sortComputers('mac')">Sort by MAC</a></li>
            </ul>
          </div>
          <div class="btn-group">
            <input type="text" placeholder="Search Name, MAC or IP" class="search-input border border-secondary" value="">
            <button type="button" class="btn btn-secondary" onclick="clearSearchInput()" title="Clear">
              <i class="fa-solid fa-x"></i>
           </button>
         </div>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row row-sortable justify-content-center">
        {% for computer in computers %}
        <div class="col-lg-3 col-md-6 d-flex computer-card">
          <div class="card mt-2 flex-fill d-flex flex-column">
            <div class="card-body d-flex flex-column flex-grow-1">
              <div class="title-sortable row justify-content-start p-1">
                <div class="col-auto">
                  <form method="POST" action="{{ url_for('wol_or_sol_send') }}">
                    <input type="hidden" name="mac_address" value="{{ computer.mac_address }}">
                    <button type="submit" class="btn btn-success btn-circle btn-xl status-power">
                      <i class="fa-solid fa-power-off"></i>
                    </button>
                  </form>
                </div>
                <div class="col-auto px-0 my-auto">
                  <div class="sortable fs-4">{{ computer.name }}</div>
                </div>
              </div>
              <div class="d-flex justify-content-end flex-grow-1">
                <div class="info-sortable">
                  <div class="sortable">IP    : {{ computer.ip_address }}</div>
                  <div class="sortable">MAC   : {{ computer.mac_address }}</div>
                  {% if computer.test_type in ['icmp', 'arp'] -%}
                  <div>Check : {{ computer.test_type | upper }}
                  {% else -%}
                  <div>Check : TCP {{ computer.test_type }}
                  {% endif -%}
                  <span class="status-indicator asleep" data-ip-address="{{ computer.ip_address }}" data-test-type="{{ computer.test_type }}"></span></div>
                  {% if computer.cron_wol_schedule is defined -%}
                  <div class="mt-1 text-light rounded-pill bg-success px-2">
                    <i class="fa-solid fa-arrow-up"></i>
                    <span>{{ computer.cron_wol_schedule }}</span>
                  </div>
                  {% endif -%}
                  {% if computer.cron_sol_schedule is defined -%}
                  <div class="mt-1 text-light rounded-pill bg-danger px-2">
                    <i class="fa-solid fa-arrow-down"></i>
                    <span>{{ computer.cron_sol_schedule }}</span>
                  </div>
                  {% endif -%}
                </div>
              </div>
            </div>
            {% if os.environ.get('ENABLE_ADD_DEL') != 'false' -%}
            <div class="card-footer text-end py-0">
              <button type="button" class="btn btn-primary btn-circle btn-lg" title="Configure Cron" data-bs-toggle="modal" data-bs-target="#cronSettingsModal" onclick="loadCronSettings('{{ computer.name }}', '{{ computer.cron_wol_schedule }}', '{{ computer.cron_sol_schedule }}', '{{ computer.mac_address }}')">
                <i class="fa-regular fa-clock"></i>
              </button>
              <button type="button" class="btn btn-primary btn-circle btn-lg m-2" title="Edit computer" data-bs-toggle="modal" data-bs-target="#editComputer" data-name="{{ computer.name }}" data-mac-address="{{ computer.mac_address }}" data-ip-address="{{ computer.ip_address }}" data-test-type="{{ computer.test_type }}">
                <i class="fa-regular fa-pen-to-square"></i>
              </button>
              <button type="button" class="btn btn-danger btn-circle btn-lg" title="Delete computer" data-bs-toggle="modal" data-bs-target="#staticDelete" onclick="setDeleteForm('{{ url_for('delete_computer') }}', 'mac_address', '{{ computer.mac_address }}', 'Computer {{ computer.name }}')">
                <i class="fa-regular fa-trash-can"></i>
              </button>
            </div>
            {% endif -%}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>

     <!-- Modal -->
    {% if os.environ.get('ENABLE_ADD_DEL') != 'false' -%}
    <div class="modal fade" id="addComputer" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addComputerLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="editComputerLabel">Add Computer</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form method="POST" action="{{ url_for('add_computer') }}">
          <div class="modal-body">
            <div class="form-group">
              <label for="name">Name:</label>
              <input type="text" class="form-control" name="name" id="name" required>
            </div>
            <div class="form-group">
              <label for="mac_address">MAC address:</label>
              <input type="text" class="form-control" name="mac_address" id="mac_address" placeholder="00:11:22:33:44:55" required>
            </div>
            <div class="form-group">
              <label for="ip_address">IP address:</label>
              <input type="text" class="form-control" name="ip_address" id="ip_address" placeholder="192.168.0.1" required>
            </div>
            <div class="form-group">
              <label for="test_type">Status Check:</label>
              <input type="text" class="form-control" name="test_type" id="test_type" placeholder="icmp, arp or port number" required>
            </div>
          </div>
          <div class="modal-footer">
                <button class="btn btn-primary" id="arpScanButton" data-bs-target="#arpScan" data-bs-toggle="modal" data-bs-dismiss="modal">Scan Network</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-success" id="confirmAdd">Add</button>
          </div>
          </form>
        </div>
      </div>
    </div>

    <div class="modal fade" id="editComputer" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="editComputerLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="editComputerLabel">Edit Computer</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form method="POST" action="{{ url_for('edit_computer') }}">
          <div class="modal-body">
              <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" class="form-control" name="name" id="edit_name" required>
              </div>
              <div class="form-group">
                <label for="mac_address">MAC address:</label>
                <input type="text" class="form-control-plaintext text-primary" name="mac_address" id="edit_mac_address" placeholder="00:11:22:33:44:55" readonly required>
              </div>
              <div class="form-group">
                <label for="ip_address">IP address:</label>
                <input type="text" class="form-control" name="ip_address" id="edit_ip_address" placeholder="192.168.0.1" required>
              </div>
              <div class="form-group">
                <label for="test_type">Status Check:</label>
                <input type="text" class="form-control" name="test_type" id="edit_test_type" placeholder="icmp or port number" required>
              </div>
          </div>
          <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-success" id="confirmEdit">Save</button>
          </div>
          </form>
        </div>
      </div>
    </div>

    <div class="modal fade" id="cronSettingsModal" tabindex="-1" aria-labelledby="cronSettingsModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="cronSettingsModalLabel">Schedule Wake or Sleep</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div id="cronSettingsContent"></div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="staticDelete" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticDeleteLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticDeleteLabel">Confirm Deletion</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Are you sure you want to delete the <strong id="deleteMessage"></strong> ?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-danger" id="confirmDelete">Delete</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="arpScan" tabindex="-1" aria-labelledby="arpScanLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="arpScanLabel">Select a Device</h5>
            <button type="button" class="btn-close" data-bs-target="#addComputer" data-bs-toggle="modal" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div id="loadingMessage">Scanning in progress...</div>
            <ul id="arpScanResults" class="list-group" style="display: none;"></ul>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success" data-bs-target="#addComputer" data-bs-toggle="modal" data-bs-dismiss="modal">Validate</button>
          </div>
        </div>
      </div>
    </div>
    {% endif -%}

    <div class="modal fade" id="aboutModal" tabindex="-1" aria-labelledby="aboutModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="aboutModalLabel">About</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="text-center">
              <p>
                <a data-mdb-ripple-init class="text-decoration-none" href="https://github.com/Misterbabou/gptwol" target="_blank" rel="noopener noreferrer" role="button" data-mdb-ripple-color="dark">
                  <i class="fab fa-github fa-2x"></i>
                  <span>GPTWOL</span>
                </a>
              </p>
              <p><strong>Version:</strong> 7.0.3</p>
              <p><strong>License:</strong> MIT</p>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    {% if os.environ.get('ENABLE_ADD_DEL') != 'false' -%}
    <script src="{{ url_for('static', filename='js/editcomputer.js') }}"></script>
    <script src="{{ url_for('static', filename='js/editcron.js') }}"></script>
    <script src="{{ url_for('static', filename='js/delcomputer.js') }}"></script>
    {% endif -%}
    <script src="{{ url_for('static', filename='js/darkmode.js') }}"></script>
    <script src="{{ url_for('static', filename='js/arpscan.js') }}"></script>
    <script src="{{ url_for('static', filename='js/searchbar.js') }}"></script>
  </body>
</html>
